html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, menu, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #f7ce68;
}

.header {
  width: 100%;
  justify-content: center;
  padding: 1rem 0;
  display: flex;
}

.header-logo {
  background-color: #fff;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: -4px 8px 30px 1px #000000f0;
}

.header-logo--ico {
  color: red;
}

.main {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.main-divle {
  width: 100%;
  justify-content: center;
  gap: 150px;
  display: flex;
}

.main-divle--title {
  width: 33%;
  font-size: 3.5em;
  font-weight: bold;
}

.settings {
  width: 33%;
  height: 500px;
  background-color: #fff;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: inset 0 0 10px 9px #f7ce68;
}

.settings-main {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.settings-title {
  margin-bottom: 1rem;
  font-size: 1.5em;
  font-weight: bold;
}

.settings-form {
  width: 85%;
  flex-direction: column;
  display: flex;
}

.settings-number {
  width: 8%;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.settings-number:focus {
  outline: none;
}

.duration {
  border-bottom: 1px solid #ccc;
  gap: 3px;
  margin-top: .5rem;
  margin-bottom: 1.3rem;
  padding-bottom: .6rem;
  display: flex;
}

label {
  flex-direction: column;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
}

input[type="range"] {
  cursor: pointer;
  width: 150px;
  background: #f7ce68;
  border-radius: 50px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #f7ce68;
  border-radius: 50px;
}

input[type="range"]::-webkit-slider-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 0 20px #e68a00;
}

.btn {
  justify-content: center;
  display: flex;
}

.btn-btn {
  width: 50%;
  background-color: #b0c4de;
  border: 0 solid #00008b;
  border-radius: 10px;
  margin-top: 1rem;
  padding: .3rem;
}

.btn-btn:hover {
  cursor: pointer;
}

.divBreathe {
  height: 100vh;
  width: 100vw;
  background-color: #000000c9;
  position: fixed;
}

.divBreathe-round {
  width: 15rem;
  height: 15rem;
  background-color: #ecb874;
  border-radius: 50%;
  margin: 20rem auto auto;
  animation: 3s infinite breathe;
}

@keyframes breathe {
  0% {
    transform: scale(1);
    box-shadow: 0 0 #b18906;
  }

  50% {
    transform: scale(1.5);
    box-shadow: 0 0 20px #b18906;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 #b18906;
  }
}

.divBreathe-osc {
  width: 15rem;
  height: 15rem;
  background-color: #ecb874;
  border-radius: 50%;
  margin: 20rem auto auto;
  animation: 10s ease-in infinite forwards oscilate;
}

@keyframes oscilate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-300px);
  }

  100% {
    transform: translateY(0);
  }
}

#countdown {
  color: #000;
  text-shadow: 0 -5px 10px #0a0903a9;
  font-size: 5em;
  font-weight: bold;
  position: absolute;
  top: 80px;
  left: 45px;
}

.hidden, .audio {
  display: none;
}

/*# sourceMappingURL=index.d01dfbe0.css.map */
